[Unit]
Description=KMonad Keyboard Manager

[Service]
Type=simple
Restart=always
RestartSec=3
Nice=-20
User=${SPECIFY}

ExecStart=${SPECIFY path to kmonad executable} \
    ${SPECIFY path to kmonad config file} \
    --input "${SPECIFY}"
    --output "${SPECIFY}"

[Install]
WantedBy=default.target
